*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body::after{
    content: '';
    width: 100%;
    height: 100%;
    left: ;
    background-color: red;
    position: absolute;
    clip-path: circle(10% at center 70%);
}
video{
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
.fa-brands{
    color: white;
    font-size: 50px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background-color: black;
}
nav ul li{
    display: inline-block;
    margin: 20px;
}
nav ul .tt{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
    color: rgb(255, 255, 255);
    margin-left: 210px;
    transition: 0.7s;
}
nav ul li a{
    color: white;
    transition: 1s;
}
nav ul .tt:hover{
    background-color: white;
    color: black;
}
nav ul li a:hover{
    color: rgb(253, 0, 0);
}
.text{
    color: white;
    width: 55%;
    padding: 20px 8%;
    background-color: rgba(255, 255, 255, 0.301);
    margin-top: 200px;
    border-radius: 20px;
    font-size: 25px;
    margin-bottom: 150px;
}
span{
    color: red;
}
.contiob{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.card{
    background-color: white;
    width: 21.25em;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 5px 25px black;
    margin: 30px;
    transition: 0.7s;
}
.text2{
    display: flex;
    justify-content: center;
    color: blue;
    font-weight: 800;
    padding-top: 20px;
    font-size: 2.2em;
    margin-bottom: 40px;
}
.text2::after{
    content: '';
    width: 100%;
    position: absolute;
    top: 750px;
    height: 1px;
    background-color: rgb(51, 49, 49);
}
section{
    margin-bottom: 30px;
    background-color: white;height: 40vh;
}
.ion{
    font-size: 55px;
    color: blue;
    margin-left: 100px;
    margin-bottom: 20px;
}
h3{
    margin-left: 80px;
    font-size: 30px;
    margin-bottom: 20px;
}
.card:hover{
    transform: scale(1.1);

}
.home{
    border: 2px solid white;
    padding: 10px;
    border-radius: 20px;
}
@media (max-width:1023px){
    nav{
        padding: 12px 20px;
    }
}






